<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gestión Integral de Alimentación Ganadera</title>
	<!-- Bootstrap CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
	<!-- Bootstrap Icons -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"
		rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
	<style>
		body {
			background-color: #f4f6f9;
		}

		.card {
			border-radius: 15px;
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
		}

		.bg-agro {
			background-color: rgb(255, 255, 128);
			color: rgb(0, 0, 0);
		}

		/* Solo la cabecera de la tabla es oscura */
		.table thead {
			background-color: #2c3e50;
			color: white;
		}

		.table-custom-small tr {
			height: 15px;
		}

		.table-custom-small td,
		.table-custom-small th {
			padding: 0.1rem 0.5rem;
			vertical-align: middle;
		}

		@media (max-width: 768px) {

			/* En móviles, el botón seleccionar va debajo */
			.lot-selector-row {
				flex-direction: column;
			}

			.lot-selector-row>.col-9,
			.lot-selector-row>.col-3 {
				width: 100%;
				margin-bottom: 0.5rem;
			}
		}
	</style>
</head>

<body>
	<div class="container-fluid py-4">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10 col-lg-10 col-xl-10">
				<div class="card">
					<div class="card-header bg-agro d-flex align-items-center">
						<i class="fa-solid fa-plate-wheat fa-2x"></i>
						<h4 class="mb-0 ms-3">Alimentación animal</h4>
					</div>
					<div class="card-body">
						<div class="row g-3">
							<!-- Formulario -->
							<div class="col-md-6">
								<form th:action="@{/lote-actividades/alimentacion}" method="get"
									class="d-flex align-items-center">
									<div class="input-group input-group-sm">
										<span class="input-group-text"><i class="fas fa-layer-group"></i></span>
										<div class="form-floating">
											<select class="form-select" name="idLote">
												<option th:value="0"
													th:text="${lts.id == null ? 'Seleccionar' : lts.codigo+'-'+lts.nombre}">
												</option>
												<option th:if="${lts.id == null}" th:each="lot : ${listaLotes}"
													th:value="${lot.id}" th:text="${lot.codigo+'-'+lot.nombre}">
												</option>
											</select>
											<label for="lote">Lotes</label>
										</div>
										<button type="submit"
											th:class="${lts.id == null ? 'btn btn-success' : 'btn btn-warning'}">
											<i class="fa-solid fa-hand-pointer" th:if="${lts.id}==null"></i>
											<i class="fa-solid fa-rotate" th:if="${lts.id}!=null"></i>
											<span th:text="${lts.id == null ? 'Seleccionar' : 'Cambiar'}"></span>
										</button>
									</div>
								</form>
							</div>

							<!-- Dropdown -->
							<div class="col-md-6">
								<div class="input-group input-group-sm">
									<div class="btn-group w-100" role="group">
										<button type="button" class="btn btn-primary dropdown-toggle"
											data-bs-toggle="dropdown" aria-expanded="false">
											Agregar alimento
										</button>
										<ul class="dropdown-menu w-100">
											<li th:each="ali : ${listAlimentos}">
												<a th:href="@{/lote-actividades/alimentacion/aggAlim/{id}(id=${ali.id})}"
													class="dropdown-item d-flex justify-content-between">
													<span th:text="${ali.descripcion}"></span>
													<span th:if="${ali.stock>ali.stockMinimo}" class="badge bg-success" th:text="${ali.stock}"></span>
													<span th:if="${ali.stock==ali.stockMinimo}" class="badge bg-warning" th:text="${ali.stock}"></span>
													<span th:if="${ali.stock<ali.stockMinimo}" class="badge bg-danger" th:text="${ali.stock}"></span>
													<!-- Stock -->
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<!-- Acordeón de Detalles del Lote -->
						<div class="accordion" id="loteAccordions">
							<!-- Primer Acordeón: Detalles del Lote y Animales -->
							<div class="accordion-item mt-2">
								<h2 class="accordion-header">
									<button class="accordion-button" type="button" data-bs-toggle="collapse"
										data-bs-target="#loteDetails">
										<i class="bi bi-info-circle me-2"></i>
										DETALLES DEL LOTE
									</button>
								</h2>
								<div id="loteDetails" class="accordion-collapse collapse "
									th:classappend="${lts.id != null} ? ' show' : ''" data-bs-parent="#loteAccordions">
									<div class="accordion-body">
										<div class="row mb-3">
											<div class="col-md-6">
												<p class="mb-2">
													<strong><i class="fa-solid fa-location-dot text-danger"></i>
														Ubicación:</strong>
													<span th:text="${lts.ubicacion}"></span>
												</p>
												<p class="mb-2">
													<strong><i class="fa-solid fa-cloud-showers-water"></i>
														Tipo:</strong>
													<span th:text="${lts.tipo}"></span>
												</p>

											</div>
											<div class="col-md-6">
												<p class="mb-2"><strong><i class="bi bi-bar-chart"></i> Capacidad
													</strong>
													<span th:text="${lts.capacidad+' animales'}"></span>
												</p>
												<p class="mb-2"><strong><i
															class="fa-solid fa-chart-simple text-primary"></i>
														Ocupación:</strong>
													<span th:if="${lts.listAnimales!=null}"
														th:text="${lts.listAnimales.size +' animales'}"></span>
												</p>
											</div>
										</div>

										<!-- Tabla de Animales -->
										<div class="table-responsive">
											<table class="table table-hover table-custom-small">
												<thead class="table-dark">
													<tr>
														<th>ID</th>
														<th>ESPECIE</th>
														<th>IDENTIFICADOR</th>
														<th>SEXO</th>
														<th>COLOR</th>
														<th>ALIAS</th>
														<th>F. INGRESO</th>
														<th>ESTADO</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="ocu : ${lts.listAnimales}">
														<td th:text="${ocu.animal.id}">ID</td>
														<td
															th:text="${'('+ocu.animal.raza.especie+') '+ocu.animal.raza.descripcion}">
															ESPECIE
														</td>
														<td th:text="${ocu.animal.identificador}">
															IDENTIFICADOR
														</td>
														<td th:text="${ocu.animal.sexo}">SEXO</td>
														<td th:text="${ocu.animal.color}">COLOR</td>
														<td th:text="${ocu.animal.alias}">ALIAS</td>
														<td th:text="${ocu.animal.fechaIngreso}">F. INGRESO
														</td>
														<td>
															<div class="d-flex justify-content-center">
																<span class="badge bg-success"
																	th:if="${ocu.animal.estado.name() == 'VIVO'}"
																	th:text="Vivo">
																</span>
																<span class="badge bg-warning"
																	th:if="${ocu.animal.estado.name() == 'ENFERMO'}"
																	th:text="Enfermo">
																</span>
																<span class="badge bg-secondary"
																	th:if="${ocu.animal.estado.name() == 'FAENADO'}"
																	th:text="Faenado">
																</span>
																<span class="badge bg-info"
																	th:if="${ocu.animal.estado.name() == 'VENDIDO'}"
																	th:text="Vendido">
																</span>
																<span class="badge bg-danger"
																	th:if="${ocu.animal.estado.name() == 'MUERTO'}"
																	th:text="Muerto">
																</span>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>

							<!-- Segundo Acordeón: Alimentos Asignados -->
							<div class="accordion-item">
								<h2 class="accordion-header">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
										data-bs-target="#alimentosAsignados">
										<i class="fas fa-wheat-awn fa-1x text-warning me-2"></i> Asignación de alimentos
									</button>
								</h2>
								<div id="alimentosAsignados" class="accordion-collapse collapse"
									data-bs-parent="#loteAccordions">
									<div class="accordion-body">
										<div class="table-responsive">
											<table class="table table-hover table-custom-small">
												<thead>
													<tr>
														<th>ID</th>
														<th>Alimento</th>
														<th>Disponibilidad</th>
														<th>Acciones</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="almnt : ${alimentaciones}">
														<th th:text="{almnt.alimento.descripcion}"></th>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="d-flex flex-column flex-md-row justify-content-end mt-3">
											<button class="btn btn-secondary me-0 me-md-2 mb-2 mb-md-0"
												data-bs-toggle="modal" data-bs-target="#alimentosModal">
												<i class="bi bi-plus-circle"></i> Agregar Alimento
											</button>
											<button class="btn btn-danger me-0 me-md-2 mb-2 mb-md-0">
												<i class="bi bi-x-circle"></i> Cancelar
											</button>
											<button class="btn btn-success">
												<i class="bi bi-check-circle"></i> Registrar Alimentación
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Bootstrap JS and Popper.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>